name: Build and Release

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            rid: win-x64
            artifact_name: EcobeeCLISharp-win-x64
            extension: .exe
          - os: ubuntu-latest
            rid: linux-x64
            artifact_name: EcobeeCLISharp-linux-x64
            extension: ""
          - os: ubuntu-latest
            rid: osx-x64
            artifact_name: EcobeeCLISharp-osx-x64
            extension: ""

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Publish
      run: dotnet publish EcobeeCLISharp.csproj -c Release -r ${{ matrix.rid }} --self-contained false -p:PublishSingleFile=true -o ./publish

    - name: Zip Artifact
      shell: bash
      run: |
        cd publish
        zip -r ../${{ matrix.artifact_name }}.zip ./*

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_name }}.zip

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: ${{ matrix.artifact_name }}.zip
        generate_release_notes: true
